{
  "truefinals": {
    "api_key": "your_truefinals_api_key_here",
    "user_id": "your_truefinals_user_id_here"
  },
  "robotcombatevents": {
    "username": "your_rce_username_here",
    "password": "your_rce_password_here"
  },
  "obs_ws": [
    {
      "uri": "192.168.1.100",
      "friendly_name": "Main OBS Instance",
      "token": "your_obs_websocket_token_here",
      "scene": "Combat Scene"
    }
  ]
}