{"openapi":"3.0.3","info":{"title":"True Finals API","description":"OpenAPI compliant REST API for True Finals","version":"1.0.1"},"servers":[{"url":"https://truefinals.com/api"}],"paths":{"/v1/user/tournaments":{"get":{"operationId":"query.users.getUserTouurnamentsList","summary":"Get a list of all tournaments owned by the API user (with some details)","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"createTime":{"type":"integer","minimum":0},"endTime":{"type":"integer","nullable":true}},"required":["id","title","privacy","createTime","endTime"],"additionalProperties":false}}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments/{tournamentID}":{"get":{"operationId":"query.tournaments.getTournament","summary":"Get a tournament by ID.","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"creatorID":{"type":"string"},"creatorProfileID":{"type":"string"},"title":{"type":"string"},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true},"createTime":{"type":"integer","minimum":0},"scheduledStartTime":{"type":"integer","nullable":true},"startTime":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"updateTime":{"type":"integer","minimum":0},"description":{"type":"string","nullable":true},"overlayParams":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string"},"logoUrl":{"type":"string","nullable":true},"bracketName":{"type":"string"},"roundName":{"type":"string"},"shortRoundName":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreText":{"type":"string"},"tag":{"type":"string","nullable":true},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string"},"primaryBgColor2":{"type":"string"},"secondaryBgColor":{"type":"string"},"backdropColor":{"type":"string"},"scoreColor":{"type":"string"},"accentColor":{"type":"string"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false,"nullable":true},"players":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"seed":{"type":"integer","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"isBye":{"type":"boolean"},"isDisqualified":{"type":"boolean"},"lastPlayTime":{"type":"integer","nullable":true},"lastBracketGameID":{"type":"string","nullable":true},"placement":{"type":"integer","nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string"},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["id","name","photoUrl","seed","wins","losses","ties","isBye","isDisqualified","lastPlayTime","lastBracketGameID","placement","profileInfo"],"additionalProperties":false}},"locations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"activeGameID":{"type":"string","nullable":true},"lastCompletedGameID":{"type":"string","nullable":true},"queue":{"type":"array","items":{"type":"string"}},"unavailableQueue":{"type":"array","items":{"type":"string"}},"blockActive":{"type":"boolean"}},"required":["id","name","activeGameID","lastCompletedGameID","queue","unavailableQueue","blockActive"],"additionalProperties":false}},"games":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bracketID":{"type":"string","enum":["W","L","EX","RR"]},"round":{"type":"integer","minimum":0},"scoreToWin":{"type":"integer","minimum":0},"slots":{"type":"array","items":{"type":"object","properties":{"gameID":{"type":"string"},"slotIdx":{"type":"integer","minimum":0},"playerID":{"type":"string","nullable":true},"checkInTime":{"type":"integer","nullable":true},"waitingTime":{"type":"integer","nullable":true},"prevGameID":{"type":"string","nullable":true},"score":{"anyOf":[{"type":"integer","minimum":0},{"type":"number","enum":[-1]}]},"slotState":{"type":"string","enum":["pending","winner","loser","winner_by_default","loser_by_default","tie"]}},"required":["gameID","slotIdx","playerID","checkInTime","waitingTime","prevGameID","score","slotState"],"additionalProperties":false}},"state":{"type":"string","enum":["unavailable","available","called","active","hold","done"]},"activeSince":{"type":"integer","nullable":true},"availableSince":{"type":"integer","nullable":true},"calledSince":{"type":"integer","nullable":true},"heldSince":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"scheduledTime":{"type":"integer","nullable":true},"nextGameSlotIDs":{"type":"array","items":{"type":"string"},"maxItems":2,"nullable":true},"locationID":{"type":"string","nullable":true},"resultAnnotation":{"type":"string","enum":["KO","TO","JD","TKO","HLD","BY","DQ","FF","T"],"nullable":true},"winnerPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"loserPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","name","bracketID","round","scoreToWin","slots","state","activeSince","availableSince","calledSince","heldSince","endTime","scheduledTime","nextGameSlotIDs","locationID","resultAnnotation","winnerPlacement","loserPlacement"],"additionalProperties":false}},"format":{"type":"object","properties":{"type":{"type":"string","enum":["single_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"addThirdPlaceGame":{"type":"boolean"},"brackets":{"type":"array","minItems":1,"maxItems":1,"items":[{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["id","rounds"],"additionalProperties":false}]},"bracketOpts":{"type":"array","minItems":1,"maxItems":1,"items":[{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["defaultScoreToWin","rounds"],"additionalProperties":false}]}},"required":["type","scoring","addThirdPlaceGame","brackets","bracketOpts"],"additionalProperties":false}},"required":["id","creatorID","creatorProfileID","title","gameTitleInfo","eventLocation","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","createTime","scheduledStartTime","startTime","endTime","updateTime","description","overlayParams","players","locations","games","format"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string"},"creatorID":{"type":"string"},"creatorProfileID":{"type":"string"},"title":{"type":"string"},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true},"createTime":{"type":"integer","minimum":0},"scheduledStartTime":{"type":"integer","nullable":true},"startTime":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"updateTime":{"type":"integer","minimum":0},"description":{"type":"string","nullable":true},"overlayParams":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string"},"logoUrl":{"type":"string","nullable":true},"bracketName":{"type":"string"},"roundName":{"type":"string"},"shortRoundName":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreText":{"type":"string"},"tag":{"type":"string","nullable":true},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string"},"primaryBgColor2":{"type":"string"},"secondaryBgColor":{"type":"string"},"backdropColor":{"type":"string"},"scoreColor":{"type":"string"},"accentColor":{"type":"string"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false,"nullable":true},"players":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"seed":{"type":"integer","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"isBye":{"type":"boolean"},"isDisqualified":{"type":"boolean"},"lastPlayTime":{"type":"integer","nullable":true},"lastBracketGameID":{"type":"string","nullable":true},"placement":{"type":"integer","nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string"},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["id","name","photoUrl","seed","wins","losses","ties","isBye","isDisqualified","lastPlayTime","lastBracketGameID","placement","profileInfo"],"additionalProperties":false}},"locations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"activeGameID":{"type":"string","nullable":true},"lastCompletedGameID":{"type":"string","nullable":true},"queue":{"type":"array","items":{"type":"string"}},"unavailableQueue":{"type":"array","items":{"type":"string"}},"blockActive":{"type":"boolean"}},"required":["id","name","activeGameID","lastCompletedGameID","queue","unavailableQueue","blockActive"],"additionalProperties":false}},"games":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bracketID":{"type":"string","enum":["W","L","EX","RR"]},"round":{"type":"integer","minimum":0},"scoreToWin":{"type":"integer","minimum":0},"slots":{"type":"array","items":{"type":"object","properties":{"gameID":{"type":"string"},"slotIdx":{"type":"integer","minimum":0},"playerID":{"type":"string","nullable":true},"checkInTime":{"type":"integer","nullable":true},"waitingTime":{"type":"integer","nullable":true},"prevGameID":{"type":"string","nullable":true},"score":{"anyOf":[{"type":"integer","minimum":0},{"type":"number","enum":[-1]}]},"slotState":{"type":"string","enum":["pending","winner","loser","winner_by_default","loser_by_default","tie"]}},"required":["gameID","slotIdx","playerID","checkInTime","waitingTime","prevGameID","score","slotState"],"additionalProperties":false}},"state":{"type":"string","enum":["unavailable","available","called","active","hold","done"]},"activeSince":{"type":"integer","nullable":true},"availableSince":{"type":"integer","nullable":true},"calledSince":{"type":"integer","nullable":true},"heldSince":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"scheduledTime":{"type":"integer","nullable":true},"nextGameSlotIDs":{"type":"array","items":{"type":"string"},"maxItems":2,"nullable":true},"locationID":{"type":"string","nullable":true},"resultAnnotation":{"type":"string","enum":["KO","TO","JD","TKO","HLD","BY","DQ","FF","T"],"nullable":true},"winnerPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"loserPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","name","bracketID","round","scoreToWin","slots","state","activeSince","availableSince","calledSince","heldSince","endTime","scheduledTime","nextGameSlotIDs","locationID","resultAnnotation","winnerPlacement","loserPlacement"],"additionalProperties":false}},"format":{"type":"object","properties":{"type":{"type":"string","enum":["double_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"disableTrueFinals":{"type":"boolean"},"brackets":{"type":"array","minItems":2,"maxItems":2,"items":[{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["name","id","rounds"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["name","id","rounds"],"additionalProperties":false}]},"bracketOpts":{"type":"array","minItems":2,"maxItems":2,"items":[{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["name","defaultScoreToWin","rounds"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["name","defaultScoreToWin","rounds"],"additionalProperties":false}]}},"required":["type","scoring","disableTrueFinals","brackets","bracketOpts"],"additionalProperties":false}},"required":["id","creatorID","creatorProfileID","title","gameTitleInfo","eventLocation","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","createTime","scheduledStartTime","startTime","endTime","updateTime","description","overlayParams","players","locations","games","format"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string"},"creatorID":{"type":"string"},"creatorProfileID":{"type":"string"},"title":{"type":"string"},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true},"createTime":{"type":"integer","minimum":0},"scheduledStartTime":{"type":"integer","nullable":true},"startTime":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"updateTime":{"type":"integer","minimum":0},"description":{"type":"string","nullable":true},"overlayParams":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string"},"logoUrl":{"type":"string","nullable":true},"bracketName":{"type":"string"},"roundName":{"type":"string"},"shortRoundName":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreText":{"type":"string"},"tag":{"type":"string","nullable":true},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string"},"primaryBgColor2":{"type":"string"},"secondaryBgColor":{"type":"string"},"backdropColor":{"type":"string"},"scoreColor":{"type":"string"},"accentColor":{"type":"string"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false,"nullable":true},"players":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"seed":{"type":"integer","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"isBye":{"type":"boolean"},"isDisqualified":{"type":"boolean"},"lastPlayTime":{"type":"integer","nullable":true},"lastBracketGameID":{"type":"string","nullable":true},"placement":{"type":"integer","nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string"},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["id","name","photoUrl","seed","wins","losses","ties","isBye","isDisqualified","lastPlayTime","lastBracketGameID","placement","profileInfo"],"additionalProperties":false}},"locations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"activeGameID":{"type":"string","nullable":true},"lastCompletedGameID":{"type":"string","nullable":true},"queue":{"type":"array","items":{"type":"string"}},"unavailableQueue":{"type":"array","items":{"type":"string"}},"blockActive":{"type":"boolean"}},"required":["id","name","activeGameID","lastCompletedGameID","queue","unavailableQueue","blockActive"],"additionalProperties":false}},"games":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bracketID":{"type":"string","enum":["W","L","EX","RR"]},"round":{"type":"integer","minimum":0},"scoreToWin":{"type":"integer","minimum":0},"slots":{"type":"array","items":{"type":"object","properties":{"gameID":{"type":"string"},"slotIdx":{"type":"integer","minimum":0},"playerID":{"type":"string","nullable":true},"checkInTime":{"type":"integer","nullable":true},"waitingTime":{"type":"integer","nullable":true},"prevGameID":{"type":"string","nullable":true},"score":{"anyOf":[{"type":"integer","minimum":0},{"type":"number","enum":[-1]}]},"slotState":{"type":"string","enum":["pending","winner","loser","winner_by_default","loser_by_default","tie"]}},"required":["gameID","slotIdx","playerID","checkInTime","waitingTime","prevGameID","score","slotState"],"additionalProperties":false}},"state":{"type":"string","enum":["unavailable","available","called","active","hold","done"]},"activeSince":{"type":"integer","nullable":true},"availableSince":{"type":"integer","nullable":true},"calledSince":{"type":"integer","nullable":true},"heldSince":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"scheduledTime":{"type":"integer","nullable":true},"nextGameSlotIDs":{"type":"array","items":{"type":"string"},"maxItems":2,"nullable":true},"locationID":{"type":"string","nullable":true},"resultAnnotation":{"type":"string","enum":["KO","TO","JD","TKO","HLD","BY","DQ","FF","T"],"nullable":true},"winnerPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"loserPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","name","bracketID","round","scoreToWin","slots","state","activeSince","availableSince","calledSince","heldSince","endTime","scheduledTime","nextGameSlotIDs","locationID","resultAnnotation","winnerPlacement","loserPlacement"],"additionalProperties":false}},"format":{"type":"object","properties":{"type":{"type":"string","enum":["round_robin"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"pointsPerWin":{"type":"number"},"pointsPerLoss":{"type":"number"},"pointsPerTie":{"type":"number"},"pointsPerDefaultWin":{"type":"number"},"pointsPerScoredPoint":{"type":"number"}},"required":["type","scoring","scoreToWin","pointsPerWin","pointsPerLoss","pointsPerTie","pointsPerDefaultWin","pointsPerScoredPoint"],"additionalProperties":false}},"required":["id","creatorID","creatorProfileID","title","gameTitleInfo","eventLocation","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","createTime","scheduledStartTime","startTime","endTime","updateTime","description","overlayParams","players","locations","games","format"],"additionalProperties":false}]}}}},"default":{"$ref":"#/components/responses/error"}}},"put":{"operationId":"mutation.tournaments.updateSettings","summary":"Update an existing tournament's settings.","tags":["Tournaments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"creatorProfileID":{"type":"string"},"title":{"type":"string","minLength":1,"maxLength":64},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string","maxLength":128},"scheduledStartTime":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true},"thumbnailUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true},"description":{"type":"string","maxLength":50000,"nullable":true},"locations":{"type":"array","items":{"type":"object","properties":{"locationID":{"type":"string","minLength":1,"maxLength":64},"name":{"type":"string","minLength":1,"maxLength":64},"blockActive":{"type":"boolean"}},"required":["locationID","name","blockActive"],"additionalProperties":false}},"webhooks":{"type":"array","items":{"type":"object","properties":{"method":{"type":"string","enum":["POST","PUT","PATCH"]},"endpoint":{"type":"string","maxLength":256,"format":"uri"},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"value":{"type":"string","minLength":1,"maxLength":1024}},"required":["name","value"],"additionalProperties":false},"maxItems":32}},"required":["method","endpoint","headers"],"additionalProperties":false},"maxItems":10},"formatOptions":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["single_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]},"minItems":1}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"addThirdPlaceGame":{"type":"boolean"},"brackets":{"type":"array","minItems":1,"maxItems":1,"items":[{"type":"object","properties":{"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","maxLength":64},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"gameCount":{"type":"integer"}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["defaultScoreToWin","rounds"],"additionalProperties":false}]}},"required":["type","scoring","addThirdPlaceGame","brackets"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["double_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]},"minItems":1}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"disableTrueFinals":{"type":"boolean"},"brackets":{"type":"array","minItems":2,"maxItems":2,"items":[{"type":"object","properties":{"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","maxLength":64},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"gameCount":{"type":"integer"}},"required":["name","scoreToWin"],"additionalProperties":false}},"name":{"type":"string","minLength":1,"maxLength":64}},"required":["defaultScoreToWin","rounds","name"],"additionalProperties":false},{"type":"object","properties":{"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","maxLength":64},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"gameCount":{"type":"integer"}},"required":["name","scoreToWin"],"additionalProperties":false}},"name":{"type":"string","minLength":1,"maxLength":64}},"required":["defaultScoreToWin","rounds","name"],"additionalProperties":false}]}},"required":["type","scoring","disableTrueFinals","brackets"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["round_robin"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]},"minItems":1}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"pointsPerWin":{"type":"number"},"pointsPerLoss":{"type":"number"},"pointsPerTie":{"type":"number"},"pointsPerDefaultWin":{"type":"number"},"pointsPerScoredPoint":{"type":"number"}},"required":["type","scoring","scoreToWin","pointsPerWin","pointsPerLoss","pointsPerTie","pointsPerDefaultWin","pointsPerScoredPoint"],"additionalProperties":false}]},"participants":{"type":"array","items":{"type":"object","properties":{"playerID":{"type":"string","maxLength":32},"name":{"type":"string","minLength":1,"maxLength":32},"photoUrl":{"type":"string","maxLength":1000,"nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string","pattern":"^.*#[0-9]{4}"},"name":{"type":"string","minLength":1,"maxLength":32},"photoUrl":{"type":"string","maxLength":1000,"nullable":true},"pronouns":{"type":"string","maxLength":32},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["playerID","name","photoUrl","profileInfo"],"additionalProperties":false}},"nonParticipants":{"type":"array","items":{"type":"object","properties":{"playerID":{"type":"string","maxLength":32},"name":{"type":"string","minLength":1,"maxLength":32},"photoUrl":{"type":"string","maxLength":1000,"nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string","pattern":"^.*#[0-9]{4}"},"name":{"type":"string","minLength":1,"maxLength":32},"photoUrl":{"type":"string","maxLength":1000,"nullable":true},"pronouns":{"type":"string","maxLength":32},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["playerID","name","photoUrl","profileInfo"],"additionalProperties":false}}},"required":["creatorProfileID","title","gameTitleInfo","eventLocation","scheduledStartTime","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","description","locations","webhooks","formatOptions","participants","nonParticipants"],"additionalProperties":false}}}},"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"creatorID":{"type":"string"},"creatorProfileID":{"type":"string"},"title":{"type":"string"},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true},"createTime":{"type":"integer","minimum":0},"scheduledStartTime":{"type":"integer","nullable":true},"startTime":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"updateTime":{"type":"integer","minimum":0},"description":{"type":"string","nullable":true},"overlayParams":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string"},"logoUrl":{"type":"string","nullable":true},"bracketName":{"type":"string"},"roundName":{"type":"string"},"shortRoundName":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreText":{"type":"string"},"tag":{"type":"string","nullable":true},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string"},"primaryBgColor2":{"type":"string"},"secondaryBgColor":{"type":"string"},"backdropColor":{"type":"string"},"scoreColor":{"type":"string"},"accentColor":{"type":"string"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false,"nullable":true},"players":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"seed":{"type":"integer","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"isBye":{"type":"boolean"},"isDisqualified":{"type":"boolean"},"lastPlayTime":{"type":"integer","nullable":true},"lastBracketGameID":{"type":"string","nullable":true},"placement":{"type":"integer","nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string"},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["id","name","photoUrl","seed","wins","losses","ties","isBye","isDisqualified","lastPlayTime","lastBracketGameID","placement","profileInfo"],"additionalProperties":false}},"locations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"activeGameID":{"type":"string","nullable":true},"lastCompletedGameID":{"type":"string","nullable":true},"queue":{"type":"array","items":{"type":"string"}},"unavailableQueue":{"type":"array","items":{"type":"string"}},"blockActive":{"type":"boolean"}},"required":["id","name","activeGameID","lastCompletedGameID","queue","unavailableQueue","blockActive"],"additionalProperties":false}},"games":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bracketID":{"type":"string","enum":["W","L","EX","RR"]},"round":{"type":"integer","minimum":0},"scoreToWin":{"type":"integer","minimum":0},"slots":{"type":"array","items":{"type":"object","properties":{"gameID":{"type":"string"},"slotIdx":{"type":"integer","minimum":0},"playerID":{"type":"string","nullable":true},"checkInTime":{"type":"integer","nullable":true},"waitingTime":{"type":"integer","nullable":true},"prevGameID":{"type":"string","nullable":true},"score":{"anyOf":[{"type":"integer","minimum":0},{"type":"number","enum":[-1]}]},"slotState":{"type":"string","enum":["pending","winner","loser","winner_by_default","loser_by_default","tie"]}},"required":["gameID","slotIdx","playerID","checkInTime","waitingTime","prevGameID","score","slotState"],"additionalProperties":false}},"state":{"type":"string","enum":["unavailable","available","called","active","hold","done"]},"activeSince":{"type":"integer","nullable":true},"availableSince":{"type":"integer","nullable":true},"calledSince":{"type":"integer","nullable":true},"heldSince":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"scheduledTime":{"type":"integer","nullable":true},"nextGameSlotIDs":{"type":"array","items":{"type":"string"},"maxItems":2,"nullable":true},"locationID":{"type":"string","nullable":true},"resultAnnotation":{"type":"string","enum":["KO","TO","JD","TKO","HLD","BY","DQ","FF","T"],"nullable":true},"winnerPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"loserPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","name","bracketID","round","scoreToWin","slots","state","activeSince","availableSince","calledSince","heldSince","endTime","scheduledTime","nextGameSlotIDs","locationID","resultAnnotation","winnerPlacement","loserPlacement"],"additionalProperties":false}},"format":{"type":"object","properties":{"type":{"type":"string","enum":["single_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"addThirdPlaceGame":{"type":"boolean"},"brackets":{"type":"array","minItems":1,"maxItems":1,"items":[{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["id","rounds"],"additionalProperties":false}]},"bracketOpts":{"type":"array","minItems":1,"maxItems":1,"items":[{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["defaultScoreToWin","rounds"],"additionalProperties":false}]}},"required":["type","scoring","addThirdPlaceGame","brackets","bracketOpts"],"additionalProperties":false}},"required":["id","creatorID","creatorProfileID","title","gameTitleInfo","eventLocation","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","createTime","scheduledStartTime","startTime","endTime","updateTime","description","overlayParams","players","locations","games","format"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string"},"creatorID":{"type":"string"},"creatorProfileID":{"type":"string"},"title":{"type":"string"},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true},"createTime":{"type":"integer","minimum":0},"scheduledStartTime":{"type":"integer","nullable":true},"startTime":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"updateTime":{"type":"integer","minimum":0},"description":{"type":"string","nullable":true},"overlayParams":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string"},"logoUrl":{"type":"string","nullable":true},"bracketName":{"type":"string"},"roundName":{"type":"string"},"shortRoundName":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreText":{"type":"string"},"tag":{"type":"string","nullable":true},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string"},"primaryBgColor2":{"type":"string"},"secondaryBgColor":{"type":"string"},"backdropColor":{"type":"string"},"scoreColor":{"type":"string"},"accentColor":{"type":"string"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false,"nullable":true},"players":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"seed":{"type":"integer","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"isBye":{"type":"boolean"},"isDisqualified":{"type":"boolean"},"lastPlayTime":{"type":"integer","nullable":true},"lastBracketGameID":{"type":"string","nullable":true},"placement":{"type":"integer","nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string"},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["id","name","photoUrl","seed","wins","losses","ties","isBye","isDisqualified","lastPlayTime","lastBracketGameID","placement","profileInfo"],"additionalProperties":false}},"locations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"activeGameID":{"type":"string","nullable":true},"lastCompletedGameID":{"type":"string","nullable":true},"queue":{"type":"array","items":{"type":"string"}},"unavailableQueue":{"type":"array","items":{"type":"string"}},"blockActive":{"type":"boolean"}},"required":["id","name","activeGameID","lastCompletedGameID","queue","unavailableQueue","blockActive"],"additionalProperties":false}},"games":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bracketID":{"type":"string","enum":["W","L","EX","RR"]},"round":{"type":"integer","minimum":0},"scoreToWin":{"type":"integer","minimum":0},"slots":{"type":"array","items":{"type":"object","properties":{"gameID":{"type":"string"},"slotIdx":{"type":"integer","minimum":0},"playerID":{"type":"string","nullable":true},"checkInTime":{"type":"integer","nullable":true},"waitingTime":{"type":"integer","nullable":true},"prevGameID":{"type":"string","nullable":true},"score":{"anyOf":[{"type":"integer","minimum":0},{"type":"number","enum":[-1]}]},"slotState":{"type":"string","enum":["pending","winner","loser","winner_by_default","loser_by_default","tie"]}},"required":["gameID","slotIdx","playerID","checkInTime","waitingTime","prevGameID","score","slotState"],"additionalProperties":false}},"state":{"type":"string","enum":["unavailable","available","called","active","hold","done"]},"activeSince":{"type":"integer","nullable":true},"availableSince":{"type":"integer","nullable":true},"calledSince":{"type":"integer","nullable":true},"heldSince":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"scheduledTime":{"type":"integer","nullable":true},"nextGameSlotIDs":{"type":"array","items":{"type":"string"},"maxItems":2,"nullable":true},"locationID":{"type":"string","nullable":true},"resultAnnotation":{"type":"string","enum":["KO","TO","JD","TKO","HLD","BY","DQ","FF","T"],"nullable":true},"winnerPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"loserPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","name","bracketID","round","scoreToWin","slots","state","activeSince","availableSince","calledSince","heldSince","endTime","scheduledTime","nextGameSlotIDs","locationID","resultAnnotation","winnerPlacement","loserPlacement"],"additionalProperties":false}},"format":{"type":"object","properties":{"type":{"type":"string","enum":["double_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"disableTrueFinals":{"type":"boolean"},"brackets":{"type":"array","minItems":2,"maxItems":2,"items":[{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["name","id","rounds"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["name","id","rounds"],"additionalProperties":false}]},"bracketOpts":{"type":"array","minItems":2,"maxItems":2,"items":[{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["name","defaultScoreToWin","rounds"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["name","defaultScoreToWin","rounds"],"additionalProperties":false}]}},"required":["type","scoring","disableTrueFinals","brackets","bracketOpts"],"additionalProperties":false}},"required":["id","creatorID","creatorProfileID","title","gameTitleInfo","eventLocation","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","createTime","scheduledStartTime","startTime","endTime","updateTime","description","overlayParams","players","locations","games","format"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string"},"creatorID":{"type":"string"},"creatorProfileID":{"type":"string"},"title":{"type":"string"},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true},"createTime":{"type":"integer","minimum":0},"scheduledStartTime":{"type":"integer","nullable":true},"startTime":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"updateTime":{"type":"integer","minimum":0},"description":{"type":"string","nullable":true},"overlayParams":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string"},"logoUrl":{"type":"string","nullable":true},"bracketName":{"type":"string"},"roundName":{"type":"string"},"shortRoundName":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreText":{"type":"string"},"tag":{"type":"string","nullable":true},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string"},"primaryBgColor2":{"type":"string"},"secondaryBgColor":{"type":"string"},"backdropColor":{"type":"string"},"scoreColor":{"type":"string"},"accentColor":{"type":"string"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string"},"fontSizePx":{"type":"number","minimum":0},"fontColor":{"type":"string"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false,"nullable":true},"players":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"seed":{"type":"integer","nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"isBye":{"type":"boolean"},"isDisqualified":{"type":"boolean"},"lastPlayTime":{"type":"integer","nullable":true},"lastBracketGameID":{"type":"string","nullable":true},"placement":{"type":"integer","nullable":true},"profileInfo":{"type":"object","properties":{"id":{"type":"string"},"tag":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string","nullable":true},"pronouns":{"type":"string"},"twitchHandle":{"type":"string","nullable":true},"twitterHandle":{"type":"string","nullable":true},"startggPlayerID":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","tag","name","photoUrl","pronouns","twitchHandle","twitterHandle","startggPlayerID"],"additionalProperties":false,"nullable":true}},"required":["id","name","photoUrl","seed","wins","losses","ties","isBye","isDisqualified","lastPlayTime","lastBracketGameID","placement","profileInfo"],"additionalProperties":false}},"locations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"activeGameID":{"type":"string","nullable":true},"lastCompletedGameID":{"type":"string","nullable":true},"queue":{"type":"array","items":{"type":"string"}},"unavailableQueue":{"type":"array","items":{"type":"string"}},"blockActive":{"type":"boolean"}},"required":["id","name","activeGameID","lastCompletedGameID","queue","unavailableQueue","blockActive"],"additionalProperties":false}},"games":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bracketID":{"type":"string","enum":["W","L","EX","RR"]},"round":{"type":"integer","minimum":0},"scoreToWin":{"type":"integer","minimum":0},"slots":{"type":"array","items":{"type":"object","properties":{"gameID":{"type":"string"},"slotIdx":{"type":"integer","minimum":0},"playerID":{"type":"string","nullable":true},"checkInTime":{"type":"integer","nullable":true},"waitingTime":{"type":"integer","nullable":true},"prevGameID":{"type":"string","nullable":true},"score":{"anyOf":[{"type":"integer","minimum":0},{"type":"number","enum":[-1]}]},"slotState":{"type":"string","enum":["pending","winner","loser","winner_by_default","loser_by_default","tie"]}},"required":["gameID","slotIdx","playerID","checkInTime","waitingTime","prevGameID","score","slotState"],"additionalProperties":false}},"state":{"type":"string","enum":["unavailable","available","called","active","hold","done"]},"activeSince":{"type":"integer","nullable":true},"availableSince":{"type":"integer","nullable":true},"calledSince":{"type":"integer","nullable":true},"heldSince":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true},"scheduledTime":{"type":"integer","nullable":true},"nextGameSlotIDs":{"type":"array","items":{"type":"string"},"maxItems":2,"nullable":true},"locationID":{"type":"string","nullable":true},"resultAnnotation":{"type":"string","enum":["KO","TO","JD","TKO","HLD","BY","DQ","FF","T"],"nullable":true},"winnerPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"loserPlacement":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["id","name","bracketID","round","scoreToWin","slots","state","activeSince","availableSince","calledSince","heldSince","endTime","scheduledTime","nextGameSlotIDs","locationID","resultAnnotation","winnerPlacement","loserPlacement"],"additionalProperties":false}},"format":{"type":"object","properties":{"type":{"type":"string","enum":["round_robin"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"pointsPerWin":{"type":"number"},"pointsPerLoss":{"type":"number"},"pointsPerTie":{"type":"number"},"pointsPerDefaultWin":{"type":"number"},"pointsPerScoredPoint":{"type":"number"}},"required":["type","scoring","scoreToWin","pointsPerWin","pointsPerLoss","pointsPerTie","pointsPerDefaultWin","pointsPerScoredPoint"],"additionalProperties":false}},"required":["id","creatorID","creatorProfileID","title","gameTitleInfo","eventLocation","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","createTime","scheduledStartTime","startTime","endTime","updateTime","description","overlayParams","players","locations","games","format"],"additionalProperties":false}]}}}},"default":{"$ref":"#/components/responses/error"}}},"delete":{"operationId":"mutation.tournaments.delete","summary":"Delete a tournament.","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success"]}},"required":["status"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments/{tournamentID}/private":{"get":{"operationId":"query.tournaments.getTournamentPrivate","summary":"Get a tournament's private data by ID. Available only to tournament owners","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"type":"object","properties":{"method":{"type":"string","enum":["POST","PUT","PATCH"]},"endpoint":{"type":"string"},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["method","endpoint","headers"],"additionalProperties":false}}},"required":["webhooks"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments/{tournamentID}/private/webhooks":{"get":{"operationId":"query.tournaments.getTournamentWebhooks","summary":"Get a tournament's webhooks. Available only to tournament owners","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"method":{"type":"string","enum":["POST","PUT","PATCH"]},"endpoint":{"type":"string","maxLength":256,"format":"uri"},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"value":{"type":"string","minLength":1,"maxLength":1024}},"required":["name","value"],"additionalProperties":false},"maxItems":32}},"required":["method","endpoint","headers"],"additionalProperties":false},"maxItems":10}}}},"default":{"$ref":"#/components/responses/error"}}},"post":{"operationId":"mutation.tournaments.updateWebhooks","summary":"Update a tournament's webhooks. Overrides existing webhooks.","tags":["Tournaments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"type":"object","properties":{"method":{"type":"string","enum":["POST","PUT","PATCH"]},"endpoint":{"type":"string","maxLength":256,"format":"uri"},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"value":{"type":"string","minLength":1,"maxLength":1024}},"required":["name","value"],"additionalProperties":false},"maxItems":32}},"required":["method","endpoint","headers"],"additionalProperties":false},"maxItems":10}},"required":["webhooks"],"additionalProperties":false}}}},"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success"]}},"required":["status"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments/{tournamentID}/details":{"get":{"operationId":"query.tournaments.getTournamentDetails","summary":"Get a tournament's details by ID.","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"creatorID":{"type":"string"},"creatorProfileID":{"type":"string"},"title":{"type":"string"},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string"},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","nullable":true},"numPlayers":{"type":"integer","minimum":0},"createTime":{"type":"integer","minimum":0},"scheduledStartTime":{"type":"integer","nullable":true},"startTime":{"type":"integer","nullable":true},"endTime":{"type":"integer","nullable":true}},"required":["id","creatorID","creatorProfileID","title","gameTitleInfo","eventLocation","privacy","displayCheckInStatus","logoUrl","thumbnailUrl","numPlayers","createTime","scheduledStartTime","startTime","endTime"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments/{tournamentID}/description":{"get":{"operationId":"query.tournaments.getTournamentDescription","summary":"Get a JSON representation of a tournament's description.","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"string","nullable":true}}}},"default":{"$ref":"#/components/responses/error"}}},"post":{"operationId":"mutation.tournaments.updateDescription","summary":"Update a tournament's description.","tags":["Tournaments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"description":{"type":"string","maxLength":50000}},"required":["description"],"additionalProperties":false}}}},"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success"]}},"required":["status"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments/{tournamentID}/overlayParams":{"get":{"operationId":"query.tournaments.getTournamentOverlayParams","summary":"Get a tournament's current overlay params.","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string","minLength":1,"maxLength":64},"logoUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true},"bracketName":{"type":"string","maxLength":64},"roundName":{"type":"string","maxLength":64},"shortRoundName":{"type":"string","maxLength":64},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":32},"scoreText":{"type":"string","minLength":1,"maxLength":2},"tag":{"type":"string","maxLength":40,"nullable":true},"photoUrl":{"type":"string","maxLength":1000,"nullable":true},"pronouns":{"type":"string","maxLength":32,"nullable":true},"twitterHandle":{"type":"string","maxLength":64,"nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"primaryBgColor2":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"secondaryBgColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"backdropColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"scoreColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"accentColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false,"nullable":true}}}},"default":{"$ref":"#/components/responses/error"}}},"post":{"operationId":"mutation.tournaments.updateOverlayParams","summary":"Update a tournament's overlay params.","tags":["Tournaments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"overlayParams":{"type":"object","properties":{"gameID":{"type":"string","nullable":true},"overlayData":{"type":"object","properties":{"tournamentName":{"type":"string","minLength":1,"maxLength":64},"logoUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true},"bracketName":{"type":"string","maxLength":64},"roundName":{"type":"string","maxLength":64},"shortRoundName":{"type":"string","maxLength":64},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":5},"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":32},"scoreText":{"type":"string","minLength":1,"maxLength":2},"tag":{"type":"string","maxLength":40,"nullable":true},"photoUrl":{"type":"string","maxLength":1000,"nullable":true},"pronouns":{"type":"string","maxLength":32,"nullable":true},"twitterHandle":{"type":"string","maxLength":64,"nullable":true},"wins":{"type":"integer","minimum":0},"losses":{"type":"integer","minimum":0},"ties":{"type":"integer","minimum":0},"seed":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true}},"required":["name","scoreText","tag","photoUrl","pronouns","twitterHandle","wins","losses","ties","seed"],"additionalProperties":false}},"hidden":{"type":"boolean"},"swapped":{"type":"boolean"}},"required":["tournamentName","logoUrl","bracketName","roundName","shortRoundName","scoreToWin","players","hidden","swapped"],"additionalProperties":false},"theme":{"type":"object","properties":{"shape":{"type":"string","enum":["trapezoid","rect","rounded"]},"bgParams":{"type":"object","properties":{"gradientDir":{"type":"string","enum":["radial","to top","to top right","to right","to bottom right","to bottom","to bottom left","to left","to top left"]},"primaryBgColor1":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"primaryBgColor2":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"secondaryBgColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"backdropColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"scoreColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"accentColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"accentWidthPx":{"type":"number","minimum":0}},"required":["gradientDir","primaryBgColor1","primaryBgColor2","secondaryBgColor","backdropColor","scoreColor","accentColor","accentWidthPx"],"additionalProperties":false},"primaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"secondaryTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"bodyTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false},"scoreTextParams":{"type":"object","properties":{"fontFamily":{"type":"string","minLength":1,"maxLength":128},"fontSizePx":{"type":"number","exclusiveMinimum":true,"minimum":0},"fontColor":{"type":"string","pattern":"^#(?:(?:[\\da-f]{3}){1,2}|(?:[\\da-f]{4}){1,2})$"},"transform":{"type":"string","enum":["uppercase","lowercase","none"]},"bold":{"type":"boolean"},"italic":{"type":"boolean"}},"required":["fontFamily","fontSizePx","fontColor","transform","bold","italic"],"additionalProperties":false}},"required":["shape","bgParams","primaryTextParams","secondaryTextParams","bodyTextParams","scoreTextParams"],"additionalProperties":false}},"required":["gameID","overlayData","theme"],"additionalProperties":false},"scoreUpdates":{"type":"object","properties":{"scores":{"type":"array","items":{"anyOf":[{"type":"integer","minimum":0,"maximum":5},{"type":"number","enum":[-1]}]}},"resultAnnotation":{"type":"string","enum":["KO","TO","JD","TKO","HLD","BY","DQ","FF","T"],"nullable":true}},"required":["scores","resultAnnotation"],"additionalProperties":false,"nullable":true}},"required":["overlayParams","scoreUpdates"],"additionalProperties":false}}}},"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success"]},"extraCodes":{"type":"array","items":{"type":"string","enum":["TWITCH_MARKER_FAILED"]}}},"required":["status"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments/{tournamentID}/format":{"get":{"operationId":"query.tournaments.getTournamentFormat","summary":"Get a tournament's format.","tags":["Tournaments"],"parameters":[{"name":"x-api-user-id","in":"header","schema":{"type":"string"},"required":true},{"name":"x-api-key","in":"header","schema":{"type":"string"},"required":true},{"name":"tournamentID","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["single_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"addThirdPlaceGame":{"type":"boolean"},"brackets":{"type":"array","minItems":1,"maxItems":1,"items":[{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["id","rounds"],"additionalProperties":false}]},"bracketOpts":{"type":"array","minItems":1,"maxItems":1,"items":[{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["defaultScoreToWin","rounds"],"additionalProperties":false}]}},"required":["type","scoring","addThirdPlaceGame","brackets","bracketOpts"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["double_elimination"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"disableTrueFinals":{"type":"boolean"},"brackets":{"type":"array","minItems":2,"maxItems":2,"items":[{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["name","id","rounds"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string","enum":["W","L"]},"rounds":{"type":"array","items":{"type":"object","properties":{"idx":{"type":"integer","minimum":0},"bracketID":{"type":"string","enum":["W","L"]},"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["idx","bracketID","name","scoreToWin"],"additionalProperties":false}}},"required":["name","id","rounds"],"additionalProperties":false}]},"bracketOpts":{"type":"array","minItems":2,"maxItems":2,"items":[{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["name","defaultScoreToWin","rounds"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string"},"defaultScoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"rounds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0}},"required":["name","scoreToWin"],"additionalProperties":false}}},"required":["name","defaultScoreToWin","rounds"],"additionalProperties":false}]}},"required":["type","scoring","disableTrueFinals","brackets","bracketOpts"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["round_robin"]},"scoring":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["numeric"]},"tiesAllowed":{"type":"boolean"}},"required":["type","tiesAllowed"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["annotated"]},"tiesAllowed":{"type":"boolean"},"allowedWinAnnotations":{"type":"array","items":{"type":"string","enum":["KO","TO","JD","TKO","HLD"]}}},"required":["type","tiesAllowed","allowedWinAnnotations"],"additionalProperties":false}]},"scoreToWin":{"type":"integer","exclusiveMinimum":true,"minimum":0},"pointsPerWin":{"type":"number"},"pointsPerLoss":{"type":"number"},"pointsPerTie":{"type":"number"},"pointsPerDefaultWin":{"type":"number"},"pointsPerScoredPoint":{"type":"number"}},"required":["type","scoring","scoreToWin","pointsPerWin","pointsPerLoss","pointsPerTie","pointsPerDefaultWin","pointsPerScoredPoint"],"additionalProperties":false}]}}}},"default":{"$ref":"#/components/responses/error"}}}},"/v1/tournaments":{"post":{"operationId":"mutation.tournaments.createTournament","summary":"Create a new tournament.","tags":["Tournaments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tournamentID":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-zA-Z0-9-_]+$"},"creatorProfileID":{"type":"string"},"title":{"type":"string","minLength":1,"maxLength":64},"gameTitleInfo":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"id":{"type":"string","nullable":true},"thumbnailUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true}},"required":["name","id","thumbnailUrl"],"additionalProperties":false,"nullable":true},"eventLocation":{"type":"string","maxLength":128},"scheduledStartTime":{"type":"integer","exclusiveMinimum":true,"minimum":0,"nullable":true},"privacy":{"type":"string","enum":["public","unlisted","private"]},"displayCheckInStatus":{"type":"boolean"},"logoUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true},"thumbnailUrl":{"type":"string","minLength":1,"maxLength":1000,"format":"uri","nullable":true},"description":{"type":"string","maxLength":50000,"nullable":true},"locations":{"type":"array","items":{"type":"object","properties":{"locationID":{"type":"string","minLength":1,"maxLength":64},"n
[...]
